h1{
    font-size: 96px;
    font-weight: lighter;
}
h2{
    font-size: 60px;
    font-weight: lighter;
}
h3{
    font-size: 48px;
}
h4{
    font-size: 34px;
}
h5{
    font-size: 24px;
}
h5{
    font-size: 20px;
    font-weight: normal;
}